---
# tasks file for Packer
- name: Install unzip
  package:
    name: unzip
    state: present

- name: Download and extract packer and mv it to {{ packer_directory_path }}
  unarchive:
    src: '{{ packer_download_url }}'
    dest: '{{ packer_directory_path }}'
    remote_src: yes
    creates: '{{ packer_directory_path }}/packer'
    mode: 0755

- name: Check packer version
  command: packer --version
  changed_when: false
  register: check_packer

- name: Display minikube version
  debug:
    msg: '{{ check_packer.stdout_lines }}'
