version: 2
jobs:
  test:
    machine:
      services: docker
    environment:
      - ROLE_NAME: packer
    steps:
      - checkout
      - run:
          name: Install python and python3-pip
          command: |
            sudo apt-get update -y
            sudo apt-get install python3 -y
            sudo apt-get install python3-pip -y
            pip3 install --upgrade pip
          
      - run:
          name: Install dependencies
          command: |
            pip3 install docker
            pip3 install molecule[docker] ansible-lint yamllint
          
      - run:
          name: Test role with molecule
          command: |
            mkdir ~/ansible-role-$ROLE_NAME
            cd ..
            mv ~/project/{,.[^.]}* ~/ansible-role-$ROLE_NAME
            cd ~/ansible-role-$ROLE_NAME
            molecule test      
workflows:
  version: 2
  molecule:
    jobs:
      - test
